{% extends dashboard_base_template %}
{% load staticfiles %}

{% block main %}
<div id="subject_dashboard" class="container">

  <div class="col-md-9">
  
    <div class="panel-group" id="accordion_schedule">


	{% block alert %}
			{% include 'edc_dashboard/alert_messages.html' %}
	{% endblock alert %}
        
        {% if not visit_schedules %}
          <div class="alert alert-warning">
              <i class="fa fa-warning fa-lg fa-fw"></i> Subject is not enrolled to any schedules.
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h6 class="panel-title"><i class="fa fa-calendar fa-lg fa-fw"></i> 
                      <a href="#">Schedules</a>
                  </h6>
              </div>
          </div>
        {% endif %}
        
	    {% for visit_schedule in visit_schedules %}
          <div id="subject_dashboard_for_{{ visit_schedule.name }}" class="panel panel-{% if anonymous %}danger{% else %}info{% endif %}">
		      <div class="panel-heading">
		          <h6 class="panel-title"><i class="fa fa-calendar fa-lg fa-fw"></i> 
		              <a data-toggle="collapse" data-parent="#accordion_schedule" aria-hidden="true"
		                 href="#dashboard_appointments_for_{{ visit_schedule.name }}">{{ visit_schedule.verbose_name }}
		              </a>
		          </h6>
		      </div>
		      <div id="subject_dashboard_appointments_for_{{ visit_schedule.name }}" class="panel-collapse collapse {% if current_enrollment_model.visit_schedule_name ==  visit_schedule.name %}in{% endif %}">

			  	{% if not appointment %}

					  	{% block appointments %}

							{% include "edc_subject_dashboard/dashboard/appointments.html" %}

					  	{% endblock appointments %}

                {% else %}

		            {% block crfs %}
						{% if crfs %}
					  		{% include "edc_subject_dashboard/dashboard/crfs.html" %}
					    {% endif %}
		            {% endblock crfs %}
	        
					{% block requisitions %}
					  {% if requisitions %}
					  	{% include "edc_subject_dashboard/dashboard/requisitions.html" %}
					  {% endif %}    
					{% endblock requisitions %}
		        
		        {% endif %}

			  </div>
	       </div>

	    {% endfor %}
    </div>	
  
 </div>

  <div class="col-md-3">

	{% block top_bar %}

	    {% include "edc_subject_dashboard/dashboard/topbar.html" %}
	
	{% endblock top_bar %}

    {% block side_bar %}

	    {% include 'edc_subject_dashboard/dashboard/sidebar.html' %}

    {% endblock side_bar %}
  </div>

</div>
{% endblock main %}