{% extends dashboard_base_template %}
{% load staticfiles %}
{% load edc_visit_schedule_extras %}

{% block main %}

<div id="subject_dashboard" class="container">

  <div class="col-md-9">
  
    <div class="panel-group" id="accordion_schedule">

	{% block alert %}
		{% include 'edc_dashboard/alert_messages.html' %}
	{% endblock alert %}
        
        {% if not visit_schedules %}
          <div class="alert alert-warning">
              <i class="fa fa-warning fa-lg fa-fw"></i> Subject is not enrolled to any schedules.
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h6 class="panel-title"><i class="fa fa-calendar fa-lg fa-fw"></i> 
                      <a href="#">Schedules</a>
                  </h6>
              </div>
          </div>
        {% endif %}

        {% if appointment %}
			<div id="subject_dashboard_for_{{ current_visit_schedule.name|slugify }}-{{ current_schedule.name|slugify }}"
				class="panel panel-{% if anonymous %}danger{% else %}info{% endif %}">
			<div class="panel-heading">
			  <h6 class="panel-title"><i class="fa fa-calendar fa-lg fa-fw"></i> 
			      <a data-toggle="collapse" data-parent="#accordion_{{ current_visit_schedule.name|slugify }}-{{ current_schedule.name|slugify }}" aria-hidden="true"
			         href="#subject_dashboard_forms_for_{{ current_visit_schedule.name|slugify }}-{{ current_schedule.name|slugify }}">
			         {{ current_visit_schedule.verbose_name }}: {{ current_schedule.verbose_name }} <span class="caret"></span>
			      </a>
			  </h6>
			</div>
			<div id="subject_dashboard_forms_for_{{ current_visit_schedule.name|slugify }}-{{ current_schedule.name|slugify }}"
				class="panel-collapse collapse in">
				    {% block crfs %}
						{% if crfs %}
					  		{% include "edc_subject_dashboard/dashboard/crfs.html" %}
					    {% endif %}
				    {% endblock crfs %}

					{% block requisitions %}
					  {% if requisitions %}
					  	{% include "edc_subject_dashboard/dashboard/requisitions.html" %}
					  {% endif %}    
					{% endblock requisitions %}
			</div>
				{% subject_schedule_row subject_identifier current_visit_schedule current_schedule subject_dashboard_url %}
	     	</div>
        {% else %}
		    {% for visit_schedule in visit_schedules.values %}
		    	{% for schedule in visit_schedule.schedules.values %}
					<div id="subject_dashboard_for_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}"
						class="panel panel-{% if anonymous %}danger{% else %}info{% endif %}">
					<div class="panel-heading">
					  <h6 class="panel-title"><i class="fa fa-calendar fa-lg fa-fw"></i> 
					      <a data-toggle="collapse" data-parent="#accordion_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}" aria-hidden="true"
					         href="#subject_dashboard_appointments_for_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}">
					         {{ visit_schedule.verbose_name }}: {{ schedule.verbose_name }} <span class="caret"></span>
					      </a>
					  </h6>
					</div>

					<div id="subject_dashboard_appointments_for_{{ visit_schedule.name|slugify }}-{{ schedule.name|slugify }}"
						class="panel-collapse collapse {% if current_visit_schedule.name == visit_schedule.name and current_schedule.name == schedule.name %}in{% endif %}">

					{% block appointments %}
						{% include "edc_subject_dashboard/dashboard/appointments.html" %}
					{% endblock appointments %}

					</div>
						{% subject_schedule_row subject_identifier visit_schedule schedule subject_dashboard_url %}
			     	</div>
			    {% endfor %}
		    {% endfor %}
	    {% endif %}
    </div> <!-- panel-group -->
  
 </div> <!-- col-md-9 -->

  <div class="col-md-3">

	{% block top_bar %}

	    {% include "edc_subject_dashboard/dashboard/topbar.html" %}
	
	{% endblock top_bar %}

    {% block side_bar %}

	    {% include 'edc_subject_dashboard/dashboard/sidebar.html' %}

    {% endblock side_bar %}

</div> <!-- col-md-3 -->
</div> <!-- container -->
{% endblock main %}