
<a id="print_requisition_popover"
class="btn btn-default"
tabindex="0"
href="javascript://" data-toggle="popover" data-placement="auto left" data-html="true" title="Send selected requisitions to:"
data-content="
<div class='list-group'>
{% for consignee in consignees %}
	<button type='submit' id='submit_print_requisition' name='submit_print_requisition' form='form_requisition_print_actions'
	value='{{ consignee.pk }}'
	class='list-group-item'
	title='click to print'>
	<span class='text text-default small'><i class='fa fa-print fa-lg' aria-hidden='true'></i> {{ consignee.name }}</span>
	</button>	
{% endfor %}
</div>
<p><a title='close' class='btn btn-sm btn-primary pull-right'><i class='fa fa-close fa-fw' aria-hidden='true'></i></a><br></p>">
<span class="text text-default" title="Send selected requisitions to:"><i class="fa fa-print fa-sm"></i></span>
</a>
