git+https://github.com/erikvw/django-crypto-fields@develop#egg=django-crypto-fields
git+https://github.com/erikvw/django-revision@develop#egg=django-revision
git+https://github.com/clinicedc/edc-base@develop#egg=edc-base
git+https://github.com/clinicedc/edc-search@develop#egg=edc-search
git+https://github.com/clinicedc/edc-action-item@develop#egg=edc-action-item
