{% load edc_base_extras %}

    <div class="list-group">
    {% if subject_offstudy %}
        <a class="list-group-item list-group-item-danger">
           <i class="fa fa-ban fa-fw" aria-hidden="true"></i>
               Offstudy {{ subject_offstudy.offstudy_datetime|date:"SHORT_DATE_FORMAT"}}
        </a>
    {% endif %}

        <a class="list-group-item"><i class="fa fa-birthday-cake fa-fw"></i>
         {{ consent.object.dob|date:"SHORT_DATE_FORMAT" }}
         {% age_in_years consent.object.dob %} yrs
       </a>
        <a class="list-group-item"><i class="fa fa-address-card-o fa-fw"></i>
            {{ consent.identity|default:'?? identity' }} {{ consent.initials }}
        </a>

    {% for fa_icon, text in demographics_listgroup %}
        <a class="list-group-item"><i class="fa {{ fa_icon }} fa-fw"></i> {{ text }}</a>      
    {% endfor %}

        <div class="list-group-item"  >
          <a class="btn btn-sm btn-default" role="button" data-toggle="tooltip" title="add a new action item"
          href="{% url 'edc_action_item_admin:edc_action_item_actionitem_add' %}?next={{subject_dashboard_url}},subject_identifier&subject_identifier={{subject_identifier}}">
            <i class="fa fa-plus fa-1x fa-fw" aria-hidden="true"></i></a>
            <a class="btn btn-sm btn-default" data-toggle="tooltip" title="Review all action items"
            href="{% url 'edc_action_item_admin:edc_action_item_actionitem_changelist' %}?q={{ subject_identifier }}">
                <i class="fa fa-bell fa-1x fa-fw" aria-hidden="true"></i> Action items</a>
        </div>

    </div>