
<a id="print_requisition_form"
class="list-group-item list-group-item-warning"
tabindex="0"
href="javascript://" data-toggle="popover" data-placement="auto bottom" data-html="true" title="Print requisition" role="button"
data-content="
Select a consignee and print
<div class='list-group'>
{% for consignee in consignees %}
	<a id='show-link-to-add-{{ prn_form.model }}' class='list-group-item list-group-item-warning'
	title='click to add'
	href='{{ prn_form.add_url }}?next={{ subject_dashboard_url }},appointment,subject_identifier&subject_identifier={{ subject_identifier }}&appointment={{ appointment_pk }}&{{ prn_form.visit_model_attr }}={{ prn_form.subject_visit }}&panel={{ prn_form.panel.pk }}'>
	<span class='text text-default small'>{{ consignee }}</span>
	</a>	
{% endfor %}
</div>
<p><a title='close' class='btn btn-sm btn-primary pull-right'><i class='fa fa-close fa-fw' aria-hidden='true'></i></a><br></p>">
<span class="text text-default" title="Select consignee and print requisition"><i class="fa fa-print fa-sm"></i></span>
</a>
