{% extends 'edc_subject_dashboard/dashboard/sidebar/sidebar.html' %}

{% load tz %}
{% load edc_base_extras %}
{% load edc_prn_extras %}
{% load action_item_extras %}


{% block special_forms %}

    {% include 'edc_subject_dashboard/dashboard/sidebar/special_forms.html' %}
                  
{% endblock special_forms %}

{% block demographics %}   

    {% include 'edc_subject_dashboard/dashboard/sidebar/demographics.html' %}

{% endblock demographics %}


{% block action_items_and_prn %}   

    {% action_item_control subject_identifier subject_dashboard_url %}

    {% prn_list_items subject_identifier %}

{% endblock action_items_and_prn %}

{% block consents %}

    {% include 'edc_subject_dashboard/dashboard/sidebar/consents.html' %}

{% endblock consents %}


{% block action_items %}   

	{% if open_action_items %}
	    
	    <div class="list-group">
	        {% for action_item in open_action_items %}

	            {% action_item_with_popover action_item forloop.counter %}

	       {% endfor %}
	    </div>

	{% endif %}

{% endblock action_items %}


